{% extends "layout/admin_layout.html" %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="title">All Categories</h1>
  <a href="{% url 'create-category' %}">
    <button class="btn btn-green">Add Category</button>
  </a>
  <hr />
  {% if message %}
  <p class="message">{{ message }}</p>
  {% endif %}
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr class="{% cycle 'odd' 'even' %}">
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td>
            <div class="actions">
              <a href="{% url 'update-category' category.id %}" class="btn btn-yellow">Edit</a>
              <form action="{% url 'delete-category' category.id %}" method="POST" class="inline-form">
                {% csrf_token %}
                <button type="submit" class="btn btn-red">Delete</button>
              </form>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
