{% extends "layout/layout.html" %}
{% block events %}
<div class="login-container">
  <h1 class="login-title">User Password Change</h1>
  <hr class="divider" />

  {% if messages %}
    {% for message in messages %}
      <div class="message {% if message.tags == 'success' %} success {% else %} error {% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <form action="" method="POST" class="login-form">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="submit-btn">Password Change</button>
  </form>
</div>
{% endblock events %}
