{% extends "layout/admin_layout.html" %}
{% block content %}
  <div class="form-container">
    {% if messages %}
      {% for message in messages %}
        <div class="message {% if message.tags == 'success' %}message-success{% else %}message-error{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <form action="" method="POST" class="form">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn-submit">Create Group</button>
    </form>
  </div>
{% endblock content %}
