{% extends "layout/admin_layout.html" %}
{% load static %}

{% block content %}

<main>
  <div class="container">
    {% block inner_content %}
      {% include "admin/user-list.html" %}
    {% endblock inner_content %}
  </div>
</main>

<script>
  const menuToggleBtn = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");
  const userMenuBtn = document.getElementById("user-menu-button");
  const userMenu = document.getElementById("user-menu");

  menuToggleBtn.addEventListener("click", () => {
    if(mobileMenu.style.display === "flex") {
      mobileMenu.style.display = "none";
    } else {
      mobileMenu.style.display = "flex";
    }
  });

  userMenuBtn.addEventListener("click", (e) => {
    e.stopPropagation();
    if(userMenu.style.display === "flex") {
      userMenu.style.display = "none";
    } else {
      userMenu.style.display = "flex";
    }
  });

  window.addEventListener("click", () => {
    userMenu.style.display = "none";
  });
</script>
{% endblock content %}
