{% extends "layout/admin_layout.html" %}
{% block content %}
<h2 class="page-title">Groups and Permissions</h2>
<div class="table-wrapper">
  <table class="admin-table">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Permissions</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td class="font-medium">{{ group.name }}</td>
        <td>
          <ul class="permission-list">
            {% for permission in group.permissions.all %}
              <li>{{ permission.name }} | {{ permission.codename }}</li>
            {% empty %}
              <li class="no-permission">No Permission Assigned!</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
