{% extends "layout/layout.html" %}
{% load static %}
{% block events %}
<div class="event-wrapper">
  <h1 class="event-title">All Events</h1>
  <hr class="divider" />
  <div class="message-area">
    {% if message %}
    <p class="message-text">{{ message }}</p>
    {% endif %}
  </div>
  <div class="table-container">
    <table class="event-table">
      <thead>
        <tr>
          <th>Event</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td>{{ event.name }}</td>
          <td>{{ event.description }}</td>
          <td><a href="{% url 'create-participant' %}" class="btnn">Participate</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock events %}
