<div class="">
  <div class="overflow-x-auto">
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Username</th>
          <th>Email</th>
          <th>User ID</th>
          <th>Current Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.id}}</td>
          <td>{{user.groups_name}}</td>
          <td>
            <a href="{% url 'assign-role' user.id %}" class="btn-change-role">Change Role</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
