{% extends "layout/layout.html" %} {% load static %} {% block events %}

<section class="home relative">
  <div class="content">
    <h3>
      It's time to celebrate! <br />
      The best <span>event organizers</span>
    </h3>
    <a href="/contact" class="btnn">Contact Us</a>
  </div>

  <div class="swiper-container home-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{% static 'images/1.jpg' %}" alt="Slide 1" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/2.jpg' %}" alt="Slide 2" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/3.jpg' %}" alt="Slide 3" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/4.jpg' %}" alt="Slide 4" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/1.jpg' %}" alt="Slide 1" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/2.jpg' %}" alt="Slide 2" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/3.jpg' %}" alt="Slide 3" />
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/4.jpg' %}" alt="Slide 4" />
      </div>
    </div>
  </div>
</section>

<section class="service" id="service">
  <h1 class="heading">our <span>services</span></h1>
  <div class="box-container">
    <div class="box">
      <i class="fas fa-map-marker-alt"></i>
      <h3>veneu selection</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>

    <div class="box">
      <i class="fas fa-envelope"></i>
      <h3>invitation card</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>
    <div class="box">
      <i class="fas fa-music"></i>
      <h3>entertaiment</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>
    <div class="box">
      <i class="fa-solid fa-utensils"></i>
      <h3>food and drinks</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>
    <div class="box">
      <i class="fas fa-photo-video"></i>
      <h3>photos and videos</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>
    <div class="box">
      <i class="fa fa-birthday-cake"></i>
      <h3>custom food</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>
  </div>
</section>
<section class="service" id="events">
  <h1 class="heading">our <span>events</span></h1>

  <div class="box-container">
    {% for event in events %}
    <div class="box">
      <i class="fas fa-calendar-alt"></i>
      <h3>{{ event.name }}</h3>
      <p><b>Category:</b> {{ event.category }}</p>
      <p><b>Location:</b> {{ event.location }}</p>
      <p><b>Date:</b> {{ event.date }}</p>
      <p><b>Time:</b> {{ event.time }}</p>
      <p>
        <b>Participants:</b>
        {% for participant in event.participants.all %}
          {{ participant.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
          No participants yet.
        {% endfor %}
      </p>
      <a href="{% url 'details' event.id %}" class="btnn">Learn More</a>
    </div>
    {% endfor %}
  </div>

  {% if show_all_button %}
  <div class="view-all-container">
    <a href="{% url 'all_events' %}" class="btnn">View All Events</a>
  </div>
  {% endif %}
</section>


<section id="about" class="about">
  <h1 class="heading"><span>about</span> us</h1>
  <div class="row">
    <div class="image">
      <img src="{% static 'images/1.jpg' %}" alt="" />
    </div>
    <div class="content">
      <h3>we will give a very special celebration for you</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        corporis dolores eum nostrum mollitia.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        corporis dolores eum nostrum mollitia.
      </p>
      <a href="/contact" class="btnn">Contact us</a>
    </div>
  </div>
</section>

<section class="gallery" id="gallery">
  <h1 class="heading">our <span>gallery</span></h1>
  <div class="box-container">
    <div class="box">
      <img src="{%static 'images/2.jpg' %}" alt="" />
      <h3 class="title">photos and events</h3>
      <div class="icons">
        <a href="" class="fas fa-heart"></a>
        <a href="" class="fas fa-share"></a>
        <a href="" class="fas fa-eye"></a>
      </div>
    </div>
    <div class="box">
      <img src="{%static 'images/3.jpg' %}" alt="" />
      <h3 class="title">photos and events</h3>
      <div class="icons">
        <a href="" class="fas fa-heart"></a>
        <a href="" class="fas fa-share"></a>
        <a href="" class="fas fa-eye"></a>
      </div>
    </div>
    <div class="box">
      <img src="{%static 'images/4.jpg' %}" alt="" />
      <h3 class="title">photos and events</h3>
      <div class="icons">
        <a href="" class="fas fa-heart"></a>
        <a href="" class="fas fa-share"></a>
        <a href="" class="fas fa-eye"></a>
      </div>
    </div>
    <div class="box">
      <img src="{%static 'images/2.jpg' %}" alt="" />
      <h3 class="title">photos and events</h3>
      <div class="icons">
        <a href="" class="fas fa-heart"></a>
        <a href="" class="fas fa-share"></a>
        <a href="" class="fas fa-eye"></a>
      </div>
    </div>
    <div class="box">
      <img src="{%static 'images/1.jpg' %}" alt="" />
      <h3 class="title">photos and events</h3>
      <div class="icons">
        <a href="" class="fas fa-heart"></a>
        <a href="" class="fas fa-share"></a>
        <a href="" class="fas fa-eye"></a>
      </div>
    </div>
    <div class="box">
      <img src="{%static 'images/2.jpg' %}" alt="" />
      <h3 class="title">photos and events</h3>
      <div class="icons">
        <a href="" class="fas fa-heart"></a>
        <a href="" class="fas fa-share"></a>
        <a href="" class="fas fa-eye"></a>
      </div>
    </div>
  </div>
</section>

<section class="price" id="price">
  <h1 class="heading">our <span>price</span></h1>
  <div class="box-container">
    <div class="box">
      <h3 class="title">for birthdays</h3>
      <h3 class="amount">$250.99</h3>
      <ul>
        <li><i class="fas fa-check"></i> full services</li>
        <li><i class="fas fa-check"></i> music and photos</li>
        <li><i class="fas fa-check"></i> food and drinks</li>
        <li><i class="fas fa-check"></i> invitation card</li>
      </ul>
      <a href="" class="btnn">Check out</a>
    </div>
    <div class="box">
      <h3 class="title">for weddings</h3>
      <h3 class="amount">$450.99</h3>
      <ul>
        <li><i class="fas fa-check"></i> full services</li>
        <li><i class="fas fa-check"></i> decorations</li>
        <li><i class="fas fa-check"></i> music and photos</li>
        <li><i class="fas fa-check"></i> food and drinks</li>
        <li><i class="fas fa-check"></i> invitation card</li>
      </ul>
      <a href="" class="btnn">Check out</a>
    </div>
    <div class="box">
      <h3 class="title">for concert</h3>
      <h3 class="amount">$650.99</h3>
      <ul>
        <li><i class="fas fa-check"></i> full services</li>
        <li><i class="fas fa-check"></i> music and photos</li>
        <li><i class="fas fa-check"></i> food and drinks</li>
        <li><i class="fas fa-check"></i> invitation card</li>
      </ul>
      <a href="" class="btnn">Check out</a>
    </div>
    <div class="box">
      <h3 class="title">for others</h3>
      <h3 class="amount">$850.99</h3>
      <ul>
        <li><i class="fas fa-check"></i> full services</li>
        <li><i class="fas fa-check"></i> music and photos</li>
        <li><i class="fas fa-check"></i> food and drinks</li>
        <li><i class="fas fa-check"></i> invitation card</li>
      </ul>
      <a href="" class="btnn">Check out</a>
    </div>
  </div>
</section>

<section class="review">
  <h1 class="heading">client's <span>review</span></h1>
  <div class="review-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide box">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="{%static 'images/2.jpg' %}" alt="" />
          <div class="user-info">
            <h3>john deo</h3>
            <span>happy clients</span>
          </div>
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit quod
          tempora rerum inventore commodi illo sunt amet laudantium quibusdam
          quos est, ipsam temporibus officiis beatae, ut quae repellat neque
          eum.
        </p>
      </div>
      <div class="swiper-slide box">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="{%static 'images/2.jpg' %}" alt="" />
          <div class="user-info">
            <h3>john deo</h3>
            <span>happy clients</span>
          </div>
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit quod
          tempora rerum inventore commodi illo sunt amet laudantium quibusdam
          quos est, ipsam temporibus officiis beatae, ut quae repellat neque
          eum.
        </p>
      </div>
      <div class="swiper-slide box">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="{%static 'images/2.jpg' %}" alt="" />
          <div class="user-info">
            <h3>john deo</h3>
            <span>happy clients</span>
          </div>
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit quod
          tempora rerum inventore commodi illo sunt amet laudantium quibusdam
          quos est, ipsam temporibus officiis beatae, ut quae repellat neque
          eum.
        </p>
      </div>
      <div class="swiper-slide box">
        <i class="fas fa-quote-right"></i>
        <div class="user">
          <img src="{%static 'images/2.jpg' %}" alt="" />
          <div class="user-info">
            <h3>john deo</h3>
            <span>happy clients</span>
          </div>
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit quod
          tempora rerum inventore commodi illo sunt amet laudantium quibusdam
          quos est, ipsam temporibus officiis beatae, ut quae repellat neque
          eum.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="contact">
  <h1 class="heading"><span>contact</span> us</h1>
  <form action="">
    <div class="inputBox">
      <input type="text" name="" placeholder="name" id="" />
      <input type="email" name="" placeholder="email" id="" />
    </div>
    <div class="inputBox">
      <input type="number" name="" placeholder="number" id="" />
      <input type="text" name="" placeholder="subject" id="" />
    </div>
    <textarea
      name=""
      placeholder="your message"
      cols="30"
      rows="10"
      id=""
    ></textarea>
    <input type="submit" value="send message" class="btnn" />
  </form>
</section>

{% endblock %}
