{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Evento Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="container">
        <a href="{% url 'home' %}" class="logo">
          <span class=""> e </span> vento
        </a>
        {% comment %}
        <div class="mobile-toggle" id="mobile-toggle">&#9776;</div>
        {% endcomment %}
        <ul class="nav-links" id="nav-links">
          {% if request.user.is_superuser %}
          <li><a href="{% url 'ad-dashboard' %}">Dashboard</a></li>
          <li><a href="{% url 'admin-dashboard' %}">Role</a></li>
          {% else %}
          <li><a href="{% url 'organizer-dashboard' %}">Dashboard</a></li>
          {% endif %}

          <li><a href="{% url 'show-event' %}">Events</a></li>
          <li><a href="{% url 'show-category' %}">Category</a></li>
          <li><a href="{% url 'group-list' %}">Groups</a></li>
          <li><a href="{% url 'create-group' %}">Create Group</a></li>
        </ul>

        <div class="user-menu-wrapper">
          <button class="user-button" id="user-button">
            {{ user.username|slice:":1"|upper }}
          </button>
          <div class="user-dropdown" id="user-dropdown">
            <a href="{% url 'admin-dashboard' %}">Dashboard</a>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <!-- Main content -->
    <div class="container">
      {% block content %}
      <!-- Default content can go here or leave empty -->
      {% endblock content %}
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        &copy; {{ now.year }} Evento. All rights reserved.
        <br />
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'show-event' %}">Events</a> |
        <a href="">Contact</a>
      </div>
    </footer>

    <script src="{% static 'js/admin.js' %}"></script>
  </body>
</html>
