<header class="header">
  <a href="/" class="logo"> <span class=""> e </span> vento </a>

  <nav class="navbar">
    <a href="/">Home</a>
    <a href="{% url 'show-event' %}">Events</a>
    <a href="{% url 'show-category' %}">Category</a>
    <a href="{% url 'show-participant' %}">Participants</a>
    <a href="#about">About Us</a>
    <a href="#contact">Contact</a>
  </nav>

  <div
    class="space-x-6 hidden md:flex items-center text-white"
    style="font-size: 15px"
  >
    <a href="{% url 'dashboard' %}" class="hover:text-gray-300 mt-1"
      >Dashboard</a
    >
    <a href="{% url 'profile' %}" class="hover:text-gray-300 mt-1">Profile</a>
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="POST">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
    {% endif %}
    <a href="{% url 'ad-dashboard' %}" target="_blank">
      <button
        class="w-10 h-10 bg-blue-500 rounded-full text-white font-semibold"
      >
        {{ user.username|slice:":1" }}
      </button>
    </a>
  </div>

  <div id="menu-bars" class="fas fa-bars"></div>
</header>
