<header class="header">
  <a href="/" class="logo"> <span>e</span>vento </a>

  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/events">Events</a>
    <a href="/about">About Us</a>
    <a href="/blog">Blogs</a>
    <a href="/contact">Contact</a>
  </nav>

  <!-- User Menu -->
  <div style="position: relative; font-size: 15px; color: white">
    <button
      onclick="toggleUserMenu()"
      style="
        width: 40px;
        height: 40px;
        background: blue;
        border-radius: 50%;
        color: white;
        font-weight: 600;
      "
    >
      {{ user.username|slice:":1" }}
    </button>

    <div id="userDropdown" class="user-menu">
      {% if user.is_superuser %}
      <a href="{% url 'ad-dashboard' %}">Dashboard</a>
      {% else %}
      <a href="{% url 'dashboard' %}">Dashboard</a>
      {% endif %}
      <a href="{% url 'profile' %}">Profile</a>
      <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </div>
  </div>

  <!-- Mobile Menu Icon -->
  <div id="menu-bars" class="fas fa-bars"></div>
</header>
<script>
  function toggleUserMenu() {
    const menu = document.getElementById("userDropdown");
    menu.style.display = menu.style.display === "flex" ? "none" : "flex";
  }
</script>
