{% extends "layout/layout.html" %}{% load static %} {% block events %}
<!-- Hero Section -->
<section
  id="home"
  class="bg-rose-400 text-white h-screen flex items-center justify-center text-center"
>
  <div class="max-w-3xl mx-auto">
    <h1 class="text-5xl font-extrabold mb-4">Welcome to I-Management</h1>
    <p class="text-xl mb-6">Discover amazing events happening around you</p>
    <a
      href="#events"
      class="bg-white text-gray-600 hover:bg-gray-800 hover:text-white font-semibold py-3 px-8 rounded-lg shadow-lg"
      >Our Events</a
    >
  </div>
</section>

<!-- Events Section -->
<section id="events" class="py-20">
  <div class="max-w-7xl mx-auto text-center mb-12">
    <h2 class="text-4xl font-semibold text-white mb-4">Our Events</h2>
    <p class="text-lg text-gray-400">Get ready for exciting events!</p>
  </div>
  <div
    class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 px-4"
  >
    <!-- Event 1 -->
    {% for event in events %}
    <div
      class="bg-white shadow-xl rounded-lg overflow-hidden hover:shadow-2xl transition duration-300"
    >
      <div class="p-6">
        <h3 class="text-2xl font-semibold text-gray-800 mb-4">
          {{event.name}}
        </h3>
        <p class="text-gray-600 mb-4"><b>Location:</b> {{event.location}}</p>
        <p class="text-gray-600 mb-4"><b>Date:</b> {{event.date}}</p>
        <p class="text-gray-600 mb-4"><b>Time:</b> {{event.time}}</p>
        <a
          href="{% url 'details' event.id %}"
          class="text-rose-600 hover:border hover:border-rose-600 hover:rounded-md hover:p-2 font-semibold"
          >Learn More</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
